@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../css/font/Open+Sans.eot);
	src: local('Open Sans'), local('OpenSans'), url(../css/font/Open+Sans.eot)
		format('embedded-opentype'), url(../css/font/Open+Sans01.woff) format('woff');
}