<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Xproject - Ajax_Country_state</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>c</servlet-name>
    <servlet-class>com.servlet.ShowState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cc</servlet-name>
    <servlet-class>com.servlet.ShowCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cc</servlet-name>
    <url-pattern>/logc</url-pattern>
  </servlet-mapping>
</web-app>